html {
  background-color: azure;
}

#nav {
  background-color: #aebfb3;
  padding: none;
  font-size: 28px;
  color: white;
}
.head {
  font-size: 48px;
  font-style: italic;
  font-weight: 100;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 5px;
  margin-top: 5px;
}
.home {
  background-image: url('pizza2.jpg');
  height: 650px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgb(213, 223, 82);
  font-weight: bolder;
}
#p1 {
  font-family: 'Russo One', sans-serif;
  font-size: 45px;
  padding-top: 20%;
}
#p2 {
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  padding-top: 10%;
  font-style: italic;
}
#p3 {
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
}
#about {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
#image1 {
  width: 70%;
  height: 70%;
  margin-top: 40px;
  margin-bottom: 10px;
}
#pizselect {
  font-size: 18px;
  padding: 10px;
}
#image2 {
  width: 75%;
  height: 70%;
  margin-top: 40px;
  margin-bottom: 10px;
}
#topselect {
  font-size: 18px;
  padding: 10px;
}
#crustselect {
  font-size: 18px;
  padding: 10px;
}
#image3 {
  width: 75%;
  height: 70%;
  margin-top: 40px;
  margin-bottom: 10px;
}

#contact1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(94, 186, 243);
  font-weight: bolder;
}
#table1 th td {
  border-collapse: collapse;
}

col tr {
  border-bottom: 1px solid black;
}
#table1 {
  padding: 45px;
  width: 100%;
}

th,
td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
